/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
		font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: rgb(250,250,250);

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header-logo-container .active {
	background-color: #1f800f;
	margin-top: 6%;
	margin-left: 3%;
	color: #fff;
	border: 4px solid #fff;
}
.header-logo-container {
	margin-left: 3%;
	margin-right: 80%;
}
.header-logo-container nav a {
   	font-size: 100%;
	padding: 7px 7px;
	margin-left: 3%;
	background: white;
	color: #aaa;
	border: 1px solid #d8d8d8;
	text-decoration: none;
} 
img.logo {
	width: 120%;
	margin-left: -10%;
	margin-top: 2%;
}
.main-top {
	margin-left: 26%;
	margin-top: -8%;
	margin-right: 15%;
	position: absolute;
}
.main-top li {
    padding: 4px; 
    display: inline; 
    margin-right: 20px;   
    padding: 3px;  
}
.main-top a {
	text-decoration: none;
	color: #888;
	font-size: 110%;
	font-family: times;
}
.search-field-container {
	margin-left: 18%;
	margin-top: -3%;
	margin-right: 30%;
}
.searvh-field {
	width: 40%;
	margin-top: -6%;
	margin-left: 25%;
	padding-top: 3%;
}
button {
	width: 3%;
	margin-top: -1.8%;
	background: #080;
	position: absolute;
	padding-bottom: 1.6%;
}
.toolsbox {
	margin-left: 75%;
	margin-top: -8.4%;
	margin-right: 2%;
	padding-right: 4px;
}
.toolsbox a {
	padding-right: 4%;
	margin-right: 3%;
	padding-left: 2%;
	text-decoration: none;
	color: #888;
	font-size: 115%;
}
.shopping-cart {
	margin-top: 4%;
	background: #ffb441;
	padding-top:4%;
	padding-bottom: 15%;
	margin-right: -12.4%;
	border-bottom: 8px solid #FD9903;
}
.product-nav {
	background: #ff7518;
	width: 102.6%;
	margin-left: -2%;
	margin-top: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
}
.product-nav li {
	width: 100%;
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 2%;
}
.product-nav ul {
	margin-left: 1%;
}
.product-nav a {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-left: 1.5%;
	text-decoration: none;
	color: #fff;
	font-size:120%;
	font-weight: bold;
	text-align: center;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
}
.main-nav {
	background: #999999;
	margin-top: 1%;
	margin-left: -1%;
	margin-right: -0.6%;
	height: 25px;
}
.main-nav li {
	display: inline;
	padding-left: 3%;
	padding-right: 3%;
	position: center;
}
.main-nav a {
	text-decoration: none;
	font-size: 110%;
	color: #fff;
	border-right: 2px solid #fff;
	border-left: 2px solid #fff;
	text-align:center;
	padding-top: 0.01%;
	padding-bottom: 0.5%;
	padding-left: 3%;
	padding-right: 3%;
	font-weight: bold;
}
.links-cloud {
	background: #2c2c2c;
	margin-right: -0.6%;
	margin-left: -1%;
}
.links-cloud a {
	display: block;
	margin-left: 2%;
	padding-bottom: 0.8%;
	padding-top: 0.8%;
	text-decoration: none;
	color: #dcdcdc;
	font-size: 110%;
}
.logo_footer img {
	width: 17%;
	margin-top: -12%;
	margin-bottom: 2%;
	margin-left: 78%;
	background: #2c2c2c;
}
.logo_footer {
	background: #EA8D01;
	margin-right: -0.6%;
	margin-left: -2%;
}