/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
		font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: rgb(250,250,250);

}
ol, ul {
	list-style: none;
}
/*blockquote, q {
	quotes: none;*/
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header-logo-container .active {
	background-color: #1f800f;
	margin-top: 6%;
	margin-left: 3%;
	color: #aaa;
}
.header-logo-container {
	margin-left: 3%;
	margin-right: 80%;
}
.header-logo-container nav a {
   	font-size: 100%;
	padding: 7px 7px;
	margin-left: 2%;
	background: white;
	color: #aaa;
} 
.logo {
	width: 100%;
	margin-left: 20%;
}
.main-nav {
	margin-left: 35%;
	margin-top: -7%;
	margin-right: 15%;
	position: absolute;
}
.main-nav li {
    padding: 4px; 
    display: inline; 
    margin-right: 5px;   
    padding: 3px;  
}
.search-field-container {
	margin-left: 15%;
	margin-top: -3%;
	margin-right: 30%;
}
.searvh-field {
	margin-top: -5%;
	margin-left: 45%;
	padding-left: 14%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top: 3%;
}
button {
	margin-top: -1.8%;
	background: #080;
	position: absolute;
	padding-top: 1%;
	padding-bottom: 1%;
}